@import '../../assets/styles/variables';
.class-work-module {
  height: 100%;
  .folder-container {
    width: 100%;
    margin: 4% 4% 4% 0%;
  }
  .outer-box {
    cursor: pointer;
    margin: 0 0 50% 0;
    background: sandybrown;
    width: 158px;
    height: 50px;
    border-radius: 5px;
    position: relative;
  }
  .inner-box {
    background: darkgray;
    width: 131px;
    height: 60px;
    position: absolute;
    top: -53%;
    z-index: 1;
    left: 9%;
  }
  .inner-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 20px solid gray;
    border-right: 20px solid #fafafa;
    width: 0;
  }
  .lower-box {
    background: #faca66;
    width: 158px;
    height: 83px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    color: #014b7e;
  }
  .folder-student-name {
    font-weight: 600;
    // word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 14px;
  }
  .folder-student-name,
  .folder-student-erp {
    width: 100%;
    text-align: left;
  }
  .folder-student-erp {
    text-align: left;
    font-size: 12px;
  }
}
