.studentIdCardNavigationLinks {
    color: #014B7E;
    font-weight: bold;
    font-size: 20px;
    margin: 1px 10px !important;
    outline: none !important;
    background-color: #F9F9F9 !important;
    border: none !important;
    cursor: pointer;
}
.studentIdCardNavArrow {
    color: #ff6b6b;
    font-weight: bold;
    font-size: 20px;
}
.new-student-register-phoneNo-input {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}