.table-pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .data-count-formcontrol {
    margin: 0 10px;
    .data-count-select {
      background-color: #fff;
      fieldset {
        border: none;
      }
    }
  }
}

.data-pagination {
  display: contents;
  .total-meeting-count {
    font-weight: 600;
    color: #014b7e;
  }
}
