.testInfo {
  background-color: '#fff';
}
.testInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fceeee;
  border-radius: 10px;
}
.closeContainer {
  position: relative;
}
.spanClose {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 20px;
  height: 21px;
  opacity: 0.3;
  cursor: pointer;
}
.spanClose:hover {
  opacity: 1;
}
.spanClose:before,
.spanClose:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.spanClose:before {
  transform: rotate(45deg);
}
.spanClose:after {
  transform: rotate(-45deg);
}

