.sidebar-panel {
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  padding: 10px;
}

.sidebar-panel-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.cardTitleHeading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ff6b6b;
  font-size: 15px;
}
.sidebar-content h5 {
  margin-top: 0px;
  color: #014b7e;
  margin-bottom: 0px;
}

.sidebar-time-counter h4 {
  margin-top: 0px;
  color: #014b7e;
  font-size: 15px;
  margin-bottom: 0px;
}

.sidebar-time-counter h5 {
  margin-top: 0px;
  color: #014b7e;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ff6b6b;
}

.sidebar-question-list {
  background: #f3f3f3;
  border: 1px solid #c4c4c4;
  padding: 10px;
  /* border-radius: 10px; */
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar-question-list h6,
.sidebar-legend h6 {
  border-bottom: 1px solid #c4c4c4;
  color: #014b7e;
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 15px;
}

.sidebar-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.sidebar-question-list .box {
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  background: #fff;
  color: #014b7e;
  /* padding: 8px 12px; */
  cursor: pointer;
  /* text-align: center; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-legend {
  background: #fff;
  border: 1px solid #c4c4c4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  /* border-radius: 10px; */
  /* margin-top: 15px; */
}

.sidebar-legend p {
  color: #014b7e;
}

.sidebar-legend .box {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
}

.sidebar-legend .demo-box {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ff6b6b;
}

.sidebar-panel .green {
  background: #7fd400;
  color: #fff;
  border: 0px;
}

.sidebar-panel .purple {
  background: #d277ff;
  color: #fff;
  border: 0px;
}

.sidebar-panel .ongoing {
  outline: 1px solid #014b7e;
  outline-offset: 3px;
}

.sidebar-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}
.sidebar-button-wrapper .outlined {
  border: 1px solid #ff6b6b;
  background: #fff;
  color: #014b7e;
  font-size: 16px;
  letter-spacing: 0px;
}

.sidebar-button-wrapper .contained {
  font-size: 16px;
  letter-spacing: 0px;
}
