@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

// View class student collection
.viewclass__student-collection {
  min-height: 600px;
  background-color: white;
  width: 100%;
  margin: 20px auto 0px auto;

  .not-found-alert {
    margin-top: 100px;
    color: $primary-color;
  }

  .progress-center {
    position: absolute;
    left: 50%;
    margin-top: 100px;
  }

  .student-view-pagination {
    margin-top: 0px;
    color: red !important;
  }

  h6,
  h5 {
    font-size: 18px !important;
  }

  .studentview-tab-container {
    background-color: #f8f8f8;
    padding-bottom: 20px;
  }

  .student-view-class-pagination p {
    color: $secondary-color;
    font-weight: bold !important;
  }

  .student-view-class-pagination .MuiTablePagination-actions {
    color: $secondary-color;
  }
}

.breadcrumb-container {
  width: 95%;
  font-weight: 100;
  margin: 20px auto;
}

// View class student
.viewclass__student-container {
  background-color: white;
  width: 95%;
  border: 1px solid $primary-color;
  margin: 25px auto 20px auto;
  padding: 15px;
  border-radius: 5px;

  .viewclass__student-btn {
    width: 100%;
  }

  .responsive__align {
    text-align: right;
  }

  h6,
  h5 {
    font-size: 18px !important;
  }

  button {
    color: white;
    font-size: 12px;
  }
}

.onlineclass__feedback--modal {
  background-color: white;
  width: 70%;
  height: 60vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.onlineclass__feedback--topbar {
  width: 100%;
  height: 12vh;
  background-color: #4dc1ea;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}

.onlineclass__feedback--topbartitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.onlineclass__emoji--container {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
}

@media only screen and (max-width: 600px) {
  .viewclass__student-container {
    .responsive__align {
      text-align: left;
    }
  }

  .onlineclass__feedback--topbartitle {
    font-size: 15px;
  }
}
