.plufo-zoom-id-generator-body {
  width: 100% !important;
  padding: 15px !important;
  // padding: 60px !important;
  .plufo-zoom-id-generator-top-head {
    padding: 20px 0px !important;
  }
  .plufo-zoom-id-generator-top-head1 {
    padding: 20px 0px !important;
    // text-align: right !important;
  }
  .plufo-zoom-id-generator-top-head2 {
    padding: 0px !important;
  }
  .plufo-zoom-id-generator-table-div {
    .plufo-zoom-id-generator-table-card {
      width: 100% !important;
      overflow: auto !important;
      padding: 20px auto !important;

      .table-url-box {
        // border:'1px solid red' !important;
        // word-break: break-all;
        overflow: auto;
        height: fit-content;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 5px !important;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f4f4f4;
        }
        &::-webkit-scrollbar-track:hover {
          background-color: #f4f4f4;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #babac0;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #a0a0a5;
          height: 8px;
          border: 4px solid #f4f4f4;
        }
      }
    }
  }
}
.BatchViewfilterButtons {
  &:hover {
    background-color: #014b7e !important;
  }
}
.add-edit-zoom-body {
  width: 100% !important;
  padding: 20px !important;
  .add-edit-zoom-top-head {
    padding: 10px 0px !important;
  }
  .add-edit-zoom-form-div {
    .add-edit-zoom-form-card {
      padding: 10px !important;
    }
  }
  .add-edit-text-field {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.substitute-dialog-actions-butons {
  text-transform: none;
  margin-right: 15px;
  background-color: #b24a4a;
  &:hover {
    background-color: #b24a4a !important;
  }
}

.closeHover {
  &:hover {
    background-color: #014b7e !important;
  }
}
.MuiDialogContent-root {
  overflow-y:hidden !important ;
}
.MuiTableCell-head{
  color: #014b7e !important;
  background-color: rgba(241, 209, 209, 1.000) !important;
  font-weight: 600 !important;
  text-align: center !important;
}


.MuiDialog-container{
  height: auto;
  outline: 0;
}

// .MuiDialog-paperWidthSm {
//   max-width: 600px !important;
//   // max-height: 512px !important;
//   // background-color: blue !important;
// }
.MuiDialog-paperScrollPaper {
  display: flex !important;
  max-height: calc(100% - 39px) !important;
  flex-direction: column !important;
}


