.aol-coupon-code-generator-body {
    width: 100% !important;
    padding: 20px !important;
    .aol-coupon-code-generator-top-head {
        padding: 10px 0px !important;
    }
    .aol-coupon-code-generator-top-head1 {
        padding: 10px 0px !important;
        // text-align: right !important;   
    }
    .aol-coupon-code-generator-top-head2{
        padding: 0px !important;
    }
    .aol-coupon-code-generator-table-div {
        .aol-coupon-code-generator-table-card {
            width: 100% !important;
            overflow: auto !important;
        }
    }
}

.add-edit-coupon-body {
    width: 100% !important;
    padding: 20px !important;
    .add-edit-coupon-top-head {
        padding: 10px 0px !important;   
    }
    .add-edit-coupon-form-div {
        .add-edit-coupon-form-card {
            padding: 10px !important;
        }
    }
    .add-edit-text-field {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    }
}