@import '../../assets/styles/variables';
.homework-tabs {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .tab-list {
    display: flex;
    z-index: 11;
    list-style: none;
    width: 100%;
    overflow-x: auto;
    background-color: #e5e5e5;
    padding: 0;
  }

  .tab-list-item {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid $primary-color;
    border-radius: 5px;
    margin: 0.5rem;
    min-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      color: #ffffff;
      background-color: $primary-color;
    }
  }
}
