.add_credit_save_button{
	color: #014b7e;
    font-weight: 600;
    outline: none;
    border: 1px solid;
    padding: 2% 3%;
}
.sms_credit_table {
	margin: 2% auto;
	line-height: 2.5;
	border-spacing: 0px;
}
.sms_credit_table_header_wrapper{
	background-color: white;
}
.sms_credit_table{
	border: none !important;
}
.sms_credit_table_wrapper{
	box-shadow: none !important;
}
.sms_credit_table_wrapper .sms_credit_table tr th:not(:last-child):after {
	content: '';
    height: 50%;
    width: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff6b6b;
}
.sms_credit_table_header {
  color: #014B7E;
}
.sms_credit_table_row{
	border-bottom: 1px solid grey;
}
.sms_credit_table_cells {
  text-align: center;
  color: #014b7e;
}
.sms_credit_body_wrapper{
	background-color: white;
}
.add_sms_credit_box {
	width: 50px;
    height: 25px;
    text-align: center;
}
.add_sms_credit_box{
	width: 50px;
    height: 25px;
    text-align: center;
    outline: none;
    border: none;
    color: #014B7E;
}
.change_sms_credit_box{
	background-color: gainsboro;
}
.addcredit_button_wrapper{
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
}
.bread_crumb_container{
	margin: 20px auto;
	width: 95%;
}
.sms_credit_branch .MuiIconButton-label{
	color: #FF6B6B !important;
}
.sms_credit_white_space_wrapper{
	width: 100%;
	margin-top: 20px;
	padding: 20px 0px;
	height: 28vw;
	background-color: white;
}
.add_credit_mobile_form_outside_wrapper{
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e8dfdfa3;
    padding: 3% 5%;
    width: 100%;
    height: 180vw;
    border-radius: 5px;
    z-index: 1450;
}
.add_credit_mobile_form{
    padding: 3% 5%;
	width: 100%;
	z-index: 1500;
}
.close_icon_add_message_credit{
	color: #ff6b6b;
	float: right;
}
.add_credit_mobile_input{
	text-align: center;
}
.add_credit_mobile_form_heading{
	color: #014B7E;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
}
@media screen and (max-width: 700px) {
	

}
