.plufo-zoom-id-generator-body {
  width: 100% !important;
  // padding: 60px !important;
  .plufo-zoom-id-generator-top-head {
    padding: 20px 0px !important;
  }
  .plufo-zoom-id-generator-top-head1 {
    padding: 20px 0px !important;
    // text-align: right !important;
  }
  .plufo-zoom-id-generator-top-head2 {
    padding: 0px !important;
  }
  .plufo-zoom-id-generator-table-div {
    .plufo-zoom-id-generator-table-card {
      width: 100% !important;
      //   overflow: auto !important;
      padding: 20px auto !important;
    }
  }
}

.add-edit-zoom-body {
  width: 100% !important;
  padding: 20px !important;
  .add-edit-zoom-top-head {
    padding: 10px 0px !important;
  }
  .add-edit-zoom-form-div {
    .add-edit-zoom-form-card {
      padding: 10px !important;
    }
  }
  .add-edit-text-field {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
