.homework_timeline_received_submitted{
	min-width: 132px;
}
.homework_timeline_rating{
	min-width: 264px;
}
.subject-homework-tag-wrapper{
	display: flex;
	margin: 5%;
}
.subject-homework-tag{
	color: #014b7e;
    font-size: 1rem;
	font-weight: 600;
	width: 100%;
	margin-left:0.5rem;
	align-self: center;
}
.rating_days .MuiInputBase-input{
	color: #014b7e !important;
	font-size: 1rem;
	padding: 0%;
}
.rating_days .MuiSvgIcon-root{
	color: #014b7e !important;
}
.rating_days{
	width: 245px;
	background: #fddfde;
	border-radius: 10px;
	outline: none;
}
.homework_details_timeline-card{
	box-shadow: none !important;
	border: 1px solid #CCCCCC;
	margin-top: 1.5%;
	border-radius: 10px !important;
	margin: 4%;
}
.subject_rating_wrapper{
	padding: 4% 0%;
	display: flex;
	justify-content: space-between;
}
.subject_rating_first_letter{
	width: 28px;
    height: 28px;
    background: #00D191;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 11px;
	padding: 2%;
	text-transform: capitalize;
    display: inline-block;
}
.subject_rating_subject_name{
	/* border-bottom: 1px solid #ff6b6b; */
    color: #014b7e;
    display: inline-block;
    /* width: 10%; */
	/* vertical-align: text-bottom; */
	text-transform: capitalize;
}
.subject_rating{
	font-size: 1.3rem;
	color: #014b7e;
	margin: 0% 1%;
}

.receivedSubmittedContainer {
	position: relative;
	display: flex;
	border-top: 1px solid #CCCCCC;
	background: linear-gradient(256deg, #FEF9AC,#FFDBDB);
	opacity: 1;
	width: 100%;
	height: 100px;
	justify-content: space-between;
}
.finishedHomeworkTag {
	color: #014b7e;
	font-size: 1rem;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.submittedHomeworkTag {
	color: #014b7e;
	font-size: 3rem;
	font-weight: 600;
	margin-left: 1.25rem;
	margin-right:2px;
}
.totalHomeworkTag {
	color: #014b7e;
	font-size: 1.1rem;
}
.slashClass {
	margin:0px 5px 0px 2.5px;
}
.maleFemaleContainer {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: -15px;
	/* align-self: flex-end; */
}

.homework_timeline_card_tag{
	color: #014b7e;
	display: flex;
}
.homework_details_timeline-card_content{
	padding: 12px 12px !important;
}
.homework_timeline_card_info{
	color: #014b7e;
}
.homework_details_timeline_rating_row{
	display: flex;
	flex-direction: row;
	margin-bottom: 3%;
	font-size: 1.1rem !important;
}
.homework_details_timeline_subjects{
	margin: auto;
}
.homework_timeline_card_subject{
	margin: 0% 8% !important;
}

@media only screen and (max-width: 768px) {
	.homework_timeline_container{
		display: block !important;
	}
	.subject_rating_first_letter{
		padding: 4px
	}
.homework_timeline_received_submitted{
	padding: 10px !important;
}
.static-media{
	width: 30px !important;
    height: 43px !important;
    margin-top: 5px !important;
    margin-right: 24px !important;
    float: right !important;
}
.homework_timeline_card_tag{
	font-size: 1.1rem !important;
	padding: 10px !important;
}
.homework_right_wrapper_items{
	width: 100%;
}
.subject_rating_wrapper {
	display: flex;
}
.subject_rating_wrapper .sub-string{
	width: 28px;
    height: 28px;
    background: #00D191;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 11px;
    padding: 2%;
    text-transform: capitalize;
	display: inline-block;
	/* margin-left: -61px; */
}
.info-card-info {
	font-size: 24px !important;
}

}