/* .homework_table_wrapper .message_log_table tr th:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  }
  .homework_table_wrapper .message_log_table tr td:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  } */
  /* .message_log_breadcrumb_wrapper  .create_group_filter_container{
	background: #F9F9F9;
  } */
  /* #menu- .MuiPaper-rounded{
	top: 231px !important;
	left: 751px !important;
	min-width: 147px !important;
    
  } */
  .message_log_white_wrapper{
	margin-top: 40px;
	/* padding: 0px; */
  }
  .message_log_white_wrapper .for-mobile table thead tr .MuiTableCell-stickyHeader .MuiInput-underline{
	border-bottom: 1px solid #F3F3F3;

  }
  .message_log_white_wrapper .for-mobile table thead tr .MuiTableCell-stickyHeader .MuiInput-underline .MuiInput-input{
	color: #FF6B6B;

  }
.MuiSelect-icon{
	color: #FF6B6B !important;

  }

  .message_log_breadcrumb_wrapper{
	  margin: 0px !important;
  }
  .message_log_breadcrumb_wrapper .page_title{
	padding-left: 37px;
  }
  .create_group_filter_container .date-ranger{
	  margin-top: 20px;
  }
  .starContainer{
	width: 35%;
}
  /* .message_log_white_wrapper{
	  margin-top: 45px
  } */
  .for-mobile .subject-homework-details-wrapper{
	margin-top: 3px;
  }
  .create_group_filter_container {
	padding: 0px 2.5%;
/*  */
  }
  .date-web{ 
	 margin-top: 10px;

  }
  .table-date{
	  display: flex;
  }
.create_group_filter_container table  .tb-header tr th{
	  color: #FF6B6B !important;
	
  }
  .create_group_filter_container table thead tr   .MuiTableCell-stickyHeader .MuiAutocomplete-hasPopupIcon input{
	color: #FF6B6B !important;
	
}
/* .makeStyles-content-22 .message_log_breadcrumb_wrapper .create_group_filter_container{
	background-color: #F3F3F3 !important;	
} */
.blog_input input{
	color: #014B7E;
}
.blog_input {
	margin-left: 20px;
	margin-top: 20px;
}

.mobile-date-picker input{
	color: #014B7E;
	font-size: 15px;
}
.mobile-date-picker label{
	font-weight: 600;
	/* font-size: 15px; */
}
.create_group_filter_container .tb-header tr th{
	background-color: #F3F3F3 !important;
}
  .day-icon {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	font-weight: 600;
	border: 1px solid #014B7E;
  }
  .message_log_breadcrumb_wrapper{
	background: #F9F9F9;
  }
.mobile-date-picker{
	margin-left: 20px;
	margin-top: 20px;
}
 
 .create_group_filter_container fieldset{
	border-radius: 10px;
	
 } 
.create_group_filter_container label{
	color: #014B7E;
}
.create_group_filter_container label:focus{
	color: #014B7E !important;
}
.homework_table_wrapper {
  border: 1px solid #ff6b6b;
  box-shadow: none;
}
.homework_table_wrapper .MuiTableCell-root:not(:last-child) {
  border-right: 1px solid #ff6b6b;
}
.homework_table_wrapper .MuiTableRow-root:not(:last-child) .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}
.homework_table_wrapper .MuiTableHead-root .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}
.selected {
  background-color: #FFECEC;
  position: relative;
}

.icon-desc-container-desk {
	display: flex;
	align-items: center;
	margin-right: 20px;
	padding: 7px;
	margin-top: 10px;
}

.homework_table {
  margin-top: 0% !important;
  border-radius: 10px !important;
  overflow-y: auto;
  max-height: 10000px !important;
}
.homework_table_wrapper {
  border-radius: 10px !important;
  box-shadow: none !important;
}
.homework_header {
  text-transform: capitalize;
}
.homework_block {
  color: #014b7e;
  font-weight: 600;
}
 .message_log_white_wrapper .homework_block_wrapper {
  display: flex;
  width: 95%;
  padding-bottom: 1%;
  margin: 20px auto;
  border: 1px solid #DBDBDB;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 37px;
  /* width: 1006px; */
  height: 76px;


}
.not_selected{
	position: relative;
}
.hw_not_submitted{
	position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ff6b6b;
    border-bottom: 1px solid #ff6b6b;
    width: 20px;
}
.subject-homework-details-wrapper{
    font-size: 1rem !important;
	/* padding: 5%; */
    border: 1px solid #ff6b6b;
    border-radius: 20px;
}

.subject-homework-details-tag{
	margin: 0% 0% 5%;
}
.homework_header_dropdown_wrapper{
	position: relative;
	padding: 16px 8px;
}
.homework_student_other_language{
	width: 100px;
    margin: auto;
}
.homework_student_other_language .MuiInputBase-input {
color: #014b7e !important;
font-weight: 600;
}
.homework_student_other_language .MuiSvgIcon-root {
	color: #ff6b6b !important;
}
.homework_student_other_language-textfield{
	color: #014b7e !important;
}
.homework_student_other_language .MuiInput-underline:before{
	border: none !important;
	outline: none !important;
}
.homework_student_header_count{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ff6b6b;
	color: white;
	width: 20px;
}
.homework_right_wrapper{
	padding: 0%;
	/* margin-top: -110px; */
    margin-left: 5px;
}
.homework_right_wrapper_items{
	padding:  0%;
	margin: 0%;
}
.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
	border-color: #DBDBDB !important;
}

.create_group_filter_container .MuiFormHelperText-marginDense{
	display: none;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	/* .makeStyles-root-3 .makeStyles-container-35 .message_log_wrapper{
		overflow-x: hidden !important;
	} */
	
	.makeStyles-container-35 {
		padding-top: 0px !important;
		/* overflow:   !important; */
	}
	.rating_days{
		background: white;
		border: none !important;
		width: 236px;
	}
	.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
		padding-right: 20px !important;
	}
	.rating_days input[type="text"]{
		color: #FF6B6B !important;
		font-size: 14px;
		margin-left: 22px;
		font-weight: 600;
	}
	.rivateNotchedOutline-root-40{
		top: none !important;
	}
	.rating_days .MuiSvgIcon-root{
		color: #FF6B6B !important;
	}
	.subject-homework-tag-wrapper fieldset {
		border: 1px white !important;
	}
	.MuiAutocomplete-endAdornment{
		top: 3px;
	}
	.hide-mob-icon{
		display: none;
	}
	/* .message_log_white_wrapper {
		margin-top: 1px;
	} */
	.group-a{
		background: #F9F9F9 !important; 

	}
	.message_log_breadcrumb_wrapper {
		background: #F9F9F9 !important;
	}
	.create_group_filter_container{
		background: #F9F9F9 !important;
	}
	
	/* .MuiFormControl-root{
		right: 0px;
		width: 100%;
	} */
		
	/* .MuiPaper-rounded{
		width:100%
	} */
	/* .message_log_wrapper .homework_block_wrapper {
		display: block;
	} */
	/* .message_log_wrapper .homework_block_wrapper {
		width: 90% !important;
		border-bottom: 1px solid #cfcfcf;
		align-items: center !important;
		display: grid !important;
		grid-template-columns: auto auto !important;
		font-size: 13px !important;
		line-height: 30px !important;
		text-align: center;
		

	} */
	/* .MuiGrid-spacing-xs-5{
		padding: 20px;
		margin: 0px !important;
	} */
	.create_group_filter_container  .date-ranger{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.create_group_filter_container .mobile-date-picker{
		padding-bottom: 20px;
		margin: 0px !important;
		
	}
	.page_title{
		padding: 20px;
	}
	/* .create_group_filter_container {
		padding: 0px 2.5%; 
		margin: 0 auto;
	} */
	/* .subject-homework-tag {
		text-align: left;
	} */
		/* .homework_right_wrapper_items{
			padding:10px;
		} */
	/* .homework_block{
		text-align: left;
	    margin-left: 18px;
	} */
	/* .homework_details_timeline-card{
		border-radius: 15px  !important;
	} */
	.mobile-screen-subject-button button{
		background: white;
		color: #FF6B6B;
		border: 1px solid #FF6B6B;
		border-radius: 10px;
		
	  }
	
	  .mobile-screen-subject-button{
		background: #E5E5E5;
		padding: 12px;
		padding-bottom: 18px;
		/* display: flex; */
    	justify-content: flex-start;
	  }
	  .mobile-screen-subject-button button:focus {
		border: 1px solid #FF6B6B !important;
		background: #FF6B6B !important;
		color: white !important;
		border-radius: 10px !important;
	  }
	  .mobile-screen-subject-button button:blur(0) {
		border: 1px solid #FF6B6B;
		color: white !important;
		border-radius: 10px;
	  }

	  .mobile-screen-subject-button span{
		  font-size: 14px;
	  }
	  .create_group_filter_container{
		  padding: 0px;
	  }
	  /* pre {
		margin: 20px 0;
		padding: 20px;
		
	  } */
	  /* .MuiListItemAvatar-root .avatar-day{
		  font-size: 15px;
		  color: #014B7E;
	  } */
	  /* .round { border-radius: 50%; } */
	  

	  /* .MuiListItemText-primary{
		margin-bottom: 13px;
	
	  } */
	  /* .MuiTypography-body1{
		  font-size: 14px !important;
	  } */
	  /* .avatar-day{
		width: 28px !important;
		height: 28px !important;
		
	  } */

	  .mobile-icon-container{
		display: flex;
		justify-content: space-around;
	  }
	  .icon-text{
		color: #014B7E;
		font-size: 14px;
	  }
	  /* .MuiDivider-inset {
		margin-left: 72px !important;
		margin-right: 30px  !important;
	}
	 */
	.mobile-screen-subject-button{
		overflow: auto;
   		 white-space: nowrap;
	}
	
	.mobile-date-picker .date-ranger label{
		color: #014B7E !important;
    	font-size: 20px !important;
	}
	.mobile-date-picker .date-ranger fieldset{
		border-radius: 10px !important;
    	border-color: 1px #DBDBDB !important;
	}

	.mobile-date-picker{
		width: 100%;
		margin-right: 40px;
	}
	.date-ranger input{
		color: #014B7E !important;
    	font-size: 14px !important;
	}
	.date-ranger  p{
		display: none !important;
	}

	/* .MuiOutlinedInput-notchedOutline{
		border-color: 1px #DBDBDB !important;
	} */
	.day-icon {
		width: 30px;
		height: 30px;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
		font-weight: 600;
		color: #014B7E;
		font-size: 12px;
		border: 1px solid #014B7E;
	  }

	  .dates span{
		  font-size: 16px;
	  }

	 .MuiDivider-inset{
		margin-right: 40px !important;
	
	  }

	  #popUp {
		 right: 51px;
		border-radius: 28%;
		background-color: white;
		color: #FF6B6B;
		width: 15px;
		height: 18px;
		font-size: 13px;
		margin-left: 56px;
	}
	.MuiDialog-paperScrollPaper{
		width: 259px;
		border-radius: 10px !important;
	}
	.list-item-text{
		text-align: center;
		border-top: none;
    	border-left: none;
    	border-right: none;
		
	}

	.list-item-text .MuiTypography-displayBlock{
		border: 1px solid #DBDBDB;
		border-top: none;
   		border-left: none;
    	border-right: none;
	}
	.list-item-text.class:empty { 
		border: none;
	}
	.list-item-text span{
		font-size: 20px !important;
		margin-bottom: 5px !important;
	}
	.list-ul{
		top:0px;
	}
	.mobile-modal1{
		display: none;
	}
	
	.mobile-modal{
		position: sticky !important;
	}
	.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
		border-color: none !important;
	}
	.create_group_filter_container .PrivateNotchedOutline-root-40{
		border: 1px solid #DBDBDB;
	}
	fieldset.PrivateNotchedOutline-root-40.MuiOutlinedInput-notchedOutline{
		border: 1px solid #DBDBDB;
	}
	.MuiDialog-scrollPaper{
		margin-top: 28px;
	}
	.mobile-screen-subject-button{
		color: white;
		margin: 0 auto;
    	position: relative;
	
	}

	#popUp {
		top: 5px;
		position: absolute;
		border-radius: 50%;
		color: red;
	  }
	  .modal-optional-button-count{
		height: 38px;
	  }
	 .modal-button-popup  {
		margin-left: -22px;
		margin-right: 75px;
	  }
	 .modal-popup-opt-count {
		background: white;
		border-radius: 10px;
		color: #FF6B6B;
		position: absolute;
		top: -15px;
		right: -2px;
		padding: 2px 10px;
		border-radius: 2px 10px 2px 2px;
		/* border-radius: 20% 40% 10% 30%; */
		width: 2px;
		height: 20px;
		
	}


	  .mobile-icon{
		  margin-top: 10px;
	  }
	  .mobile-screen-subject-button .mobile-button-without-opt .sub-btn .mb-btn:last-child{
		margin-left: 5px !important; 
		/* margin-right: -59px !important; ; */
	  }

	  .mobile-screen-subject-button .mobile-button-without-opt:first-child{
		margin-right: -63px  ;
	  }
	  
	.mobile-button-without-opt .modal-button-popup #popUp .MuiButton-outlinedPrimary{
		margin-left: -26px;
	}
	.homework_timeline_container .MuiPaper-rounded{
		border-radius: 10px;
	}
	.homework_right_wrapper .subject-homework-tag{
		text-align: left;
    	margin-top: 9px;
	}
	.starContainer{
		width: 40%;
		text-align: justify;
	}
	.message_log_breadcrumb_wrapper{
		margin: 0;
	}
	.message_log_white_wrapper{
		margin-top: 0px;
		padding: 1px 0px;
	  }
  }

