.paginateData{
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 10px 20px !important;
  }
  
  .paginateData .MuiTypography-colorInherit{
    font-weight: bold !important;
    color: #014b7e;
  }