@import '../../../assets/styles/variables';

  .loading_container{
    
    #editor-evaluvation-container{
    overflow: hidden !important;
    }
  }
  

  .nav-card{
    .allHomeWorkButton{
      font-weight: 600;
    }
  }
.message_log_wrapper {
  &.teacher-homework {
    .date-container {
      width: 95%;
      margin: 20px auto;
    }
    .selected {
      background-color: antiquewhite;
    }
    .homework_table {
      margin-top: 0% !important;
      border-radius: 10px !important;
      overflow-y: auto;
      max-height: 10000px !important;
    }
    .homework_header {
      text-transform: capitalize;
    }
    .homework_block {
      color: #014b7e;
      font-weight: 600;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .homework_block_wrapper {
      display: flex;
      width: 100%;
      padding-bottom: 1%;
      margin: 20px 0;
      border: 1px solid #dbdbdb;
      &.no-border {
        border: 0 !important;
      }
      align-items: center;
      padding: 1rem;
      border-radius: 5px;

      @media screen and (max-width: 768px) {
        //margin-bottom: 0 !important;
        justify-content: center;
        border: 0;
      }
    }

    .icon-desc-container {
      display: flex;

      align-items: center;
      margin-left: 1rem;
      color: $secondary-color;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        img {
          margin-bottom: 5px;
        }
      }
    }

    .MuiBadge-root {
      vertical-align: unset;
      .MuiBadge-badge {
        color: #ffffff;
        &.MuiBadge-anchorOriginTopRightRectangle {
          transform: scale(1) translate(25%, -25%);
        }
      }
    }

    .date-picker-container {
      margin: 0 1rem;
      .MuiSvgIcon-root {
        fill: $primary-color;
      }
    }
  }
}
.small-container{
  width: 100% !important;
}
.add-homework-container {
  // height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  .message_log_breadcrumb_wrapper {
    height: 25px;
    margin: 20px auto !important;
  }
  .header-text {
    color: $secondary-color;
    font-weight: 600;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
      font-size: 0.85rem;
    }
  }

  .add-homework-inner-container {
    height: calc(100% - 65px);
    padding: 20px 2.5%;
    background: white;
    flex: 1;
    .homework-create-questions-container {
      height: calc(100% - 75px) !important;
      @media screen and (min-width: 768px) {
        height: 100% !important;
      }
      overflow: auto;
    }
    .add-homework-title-container {
      margin: 0 0 20px;
      .nav-cards-container {
        display: flex;
        @media screen and (min-width: 768px) {
          height: 55px !important;
        }

        .nav-card {
          width: 42%;
          // border: 1px solid $primary-color;
          height: 100%;
          padding: 0.5rem 1.25rem;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 55px;
          &:first-child {
            margin-right: 1rem;
          }
        }
        @media screen and (min-width: 768px) {
          flex-direction: column;
          .nav-card {
            width: 100% !important;
            height: max-content;
            margin: 0 0 20px;
          }
        }
      }
    }
  }
  .form-field {
    width: 100%;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .finish-btn-container {
    width: 100%;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    .btn {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      margin: 20px 0;
    }
  }
}

.selected-col {
  background-color: #fededf;
}

.no-wrap-col {
  white-space: nowrap;
  // min-width: 188px;
  position: sticky;
  left: 0;
  z-index: 20;
  background-color: white;
  div {
    display: flex;
    align-items: center;
    .day-icon {
      width: 40px;
      height: 40px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      font-weight: 600;
      border: 1px solid $secondary-color;
    }
  }
}

.view-homework-container {
  .evaluate-answer-btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
  .homework_block_questionwise_check {
    margin-left: 50%;
    color: #014b7e;
    font-size: 1rem;
  }
  .homework-question-container {
    margin: 20px auto;
    width: 95%;
    &:nth-child(1) {
      margin-top: 2rem;
    }
    .comments-remarks-container {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc(50% - 0.5rem);

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 1rem;
        }

        &.comment {
          margin-right: 1rem;
          @media screen and (max-width: 768px) {
            margin-right: 0;
          }
        }
      }
    }
    .evaluate-answer-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }
  }
  .homework-question {
    border-bottom: 1px solid #ff6b6b;
    width: 80%;
    color: #014b7e;
    position: relative;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: left;
    }
  }
  .homework_submit_tag {
    font-size: 1rem;
  }
  .question {
    font-size: 1rem;
    padding: 1.5rem 0 0.5rem;
  }
  .homework_submit_questions_attachment {
    width: 30% !important;
  }
  .non_selected_homework_type_item {
    cursor: pointer;
  }
  .homework_block {
    text-transform: capitalize;
  }
  // .homework_type_wrapper {
  //   width: 185px;
  // }
  .homework_submit_wrapper {
    border: 1px solid #ff6b6b;
    border-radius: 10px;
    width: 95% !important;
    margin: auto !important;
  }
  .homework_submit_button_wrapper {
    display: flex;
    width: 30%;
    margin: 2%;
    margin-left: 65%;
  }
  .homework_submit_button_cancel {
    margin-right: 20px !important;
  }
  .overall-evaluation-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .input-container {
      // display: flex;
      width: 60% !important;
      // flex-wrap: wrap;
      .remark {
        width: 60% !important;
        margin-right: 1rem;
        @media screen and (max-width: 768px) {
          width: 100% !important;
          margin: 1rem 0;
        }
      }
      .score {
        width: 60% !important;
        @media screen and (max-width: 768px) {
          width: 100% !important;
          margin: 0 0 1rem;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100% !important;
      }
    }
    .button-container {
      //display: flex !important;
      //flex-wrap: wrap;
      width: 100% !important;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
    .button-container .cancel-btn {
      align-items: right !important;
      //margin-right: 1px;
    }
    .done-btn {
      //align-items: right !important;
      margin-right: 10px;
    }
    .score {
      // width: 30% !important;
      margin-right: 8px !important;
    }
    .btn-container {
      width: 40% !important;
      // margin-top: 10px;
      display: flex !important;
      // justify-content: flex-end;
      // flex-wrap: wrap-reverse;

      @media screen and (max-width: 768px) {
        width: 100% !important;
        justify-content: center;
      }
      .cancel-btn {
        margin-right: 1rem;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0;
        }
      }
      .done-btn {
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}

.add-homework-container,
.view-homework-container {
  .attachments-container {
    &.with-margin {
      width: 95%;
      margin: 20px auto;
    }
    .header {
      margin: 1rem 0;
    }
    .attachments-list-outer-container {
      width: 100%;
      display: flex;
      align-items: center;
      .prev-btn,
      .next-btn {
        width: 45px;
      }
      .attachments-list {
        &::-webkit-scrollbar {
          display: none;
        }
        scroll-behavior: smooth;
        flex-grow: 1;
        overflow-x: auto;
        display: flex;
        margin: 1rem 0;
        width: calc(100% - 90px);
        .attachment {
          flex-shrink: 0;
          width: 250px;
        }
      }
    }
  }
  .file-card-container {
    position: relative;
    height: 100%;
    &:hover {
      .overlay-container {
        opacity: 1;
      }
    }
    .overlay-container {
      padding: 0.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        .action-buttons {
          margin: auto 0;
        }
      }
    }

    .video-file {
      padding: 0.5rem;
      width: 100%;
    }
    .audio-file {
      padding: 0.5rem;
      width: 100%;
    }
  }

  .comments-remarks-container {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: calc(50% - 0.5rem);

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 1rem;
      }

      &.comment {
        margin-right: 1rem;
        @media screen and (max-width: 768px) {
          margin-right: 0;
        }
      }
    }
  }
}

/**common***/

.nav-cards-container {
  display: flex;
  width: 95%;
  margin: auto;

  .nav-card {
    width: 50%;
    // border: 1px solid $primary-color;
    height: 100%;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55px;
    &:first-child {
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    .nav-card {
      width: 100%;
      height: max-content;
      margin: 0 0 20px;
    }
  }
}

.header-text {
  color: $secondary-color;
  font-weight: 600;
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 0.85rem;
  }
}

//homework list mobile view

.homework-table-mobile-view {
  // color: $secondary-color;
  .day-icon {
    width: 40px;
    height: 40px;
    border: 1px solid $secondary-color;
    border-radius: 25px;
    margin-right: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.table-cont {
  display: flex;
}

.create_group_filter_container .hwcard {
  //  margin: 0px 0px 0px 30px;
  margin-top: 5px;
  margin-left: 5px !important;
  @media screen and (max-width: 768px) {
    margin-left: 0 !important;
    margin: 1rem !important;
    width: 100%;
  }
}

.message_log_white_wrapper .view-homework .home-wrapper {
  width: 100% !important;
}

.view-homework .table-cont table thead tr th {
  color: #ff6b6b !important;
  background: #f3f3f3 !important;
}

.message_log_wrapper.teacher-homework .homework_block_wrapper {
  width: 100% !important;
}

.MuiPickersPopper-root {
  transform: translate3d(55px, 179px, 0px) !important;
  top: 46px;
}
.home-work-date-subject-name {
  width: 80% !important;
}
