
@import "../../components/globel-css/globle.scss";
.studentIdCardNavigationLinks {
    color: #014B7E;
    font-weight: bold;
    font-size: 20px;
    margin: 1px 10px !important;
    outline: none !important;
    background-color: #F9F9F9 !important;
    border: none !important;
    cursor: pointer;
}
.studentIdCardNavArrow {
    color: #ff6b6b;
    font-weight: bold;
    font-size: 20px;
}

.my__swipable-address {
    .MuiPaper-elevation16 {
      // z-index: 9999 !important;
      overflow: auto;
      width: 100%;
      @include desktop {
        overflow: hidden;
        width: 50%;
      }
    }
  }
  .addressFormInputNumber {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
  }
  .back-btn {
      border: 1px solid #FF6B6B !important;
      color: #014B7E !important;
      background-color: white !important;
      border-radius: 10px !important;
      margin-top: 10px !important; 
  }
  
    @media screen and (max-width: 1500px) and (min-width: 1300px) {
      .duumy-box {
        margin-top: -6px !important;
      }
    }

