.send_message_breadcrumb_wrapper{
	margin: 20px auto;
	width: 95%;
}
.send_message_header {
	margin: 20px auto;
	width: 95%;
}
.send_message_header_icon_wrapper {
  display: inline-block;
}
.send_message_header_title {
  color: #ff6b6b;
  text-align: center;
}
.step_completed {
  color: #ffffff !important;
  background-color: #ff6b6b !important;
}
.send_message_header_circle {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background-color: #ffffff;
  color: #ff6b6b;
  padding: 9% 1.5%;
  text-align: center;
}
.send_message_header_border_circle {
  border: 1px solid #ff6b6b;
}
.send_message_header_bar {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  margin: 1%;
  height: 13px;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/images/Group-8088.svg);
}
@media screen and (min-width: 2000px) {
	.send_message_header_bar {
		vertical-align: super;
		width: 5%;
	}
}
@media screen and (max-width: 700px) {
  .send_message_header_bar {
    margin-top: 2%;
    margin-left: -9%;
    margin-right: -13%;
	width: 17%;
    background-position: center;
  }

  .send_message_header{
	text-align: center;
  }
  .send_message_header_circle{
	width: 30px;
	height: 30px;
	padding: 5% 1.5%;
  }
  .send_message_header_icon_wrapper{
	padding: 0% 4%;
  }
  .send_message_header_title{
	  font-size: 0.8rem;
  }
}
