.courseCardContainer.MuiPaper-root {
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  width: 100%;
}

.submitContainer {
  margin-top: 2%;
}

.file_row_image_course {
  display: flex;
  justify-content: space-around;
  padding: 8px 20px;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.file_name_container_course {
  color: #014b7e;
  font-size: 16px;
}

.file_row_image_course1 {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
}

.file_close {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.file_name_container_course1 {
  color: #014b7e;
  font-size: 16px;
}

.scrollableContent1 {
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 32% 32% 32%;
}

.scrollableContent {
  display: grid;
  grid-template-columns: auto auto auto;
}

.buttonContainer {
  width: 30%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.periodBackButton.MuiButtonBase-root {
  width: 100%;
  border-radius: 10px;
  background: #e0e0e0;
  color: rgb(140, 140, 140);
  margin-right: 5%;
}

.periodBackButton.MuiButtonBase-root:hover {
  background: #e0e0e0;
}

.periodBackButton2.MuiButtonBase-root {
  width: 20%;
  border-radius: 10px;
  background: #e0e0e0;
  color: rgb(140, 140, 140);
  margin: 4%;
}

.periodBackButton2.MuiButtonBase-root:hover {
  background: #e0e0e0;
}

.periodBackButton1.MuiButtonBase-root {
  width: 15%;
  border-radius: 10px;
  background: #e0e0e0;
  color: rgb(140, 140, 140);
}

.periodBackButton1.MuiButtonBase-root:hover {
  background: #e0e0e0;
}
.nextPageButton.MuiButtonBase-root {
  width: 15%;
  border-radius: 10px;
}

.nextPageButton.MuiButtonBase-root:hover {
  background: #ff6b6b;
}

.periodSubmitButton.MuiButtonBase-root {
  width: 100%;
  border-radius: 10px;
}

.periodSubmitButton.MuiButtonBase-root:hover {
  background: #ff6b6b;
}

.periodAddButton.MuiButtonBase-root {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: rgb(140, 140, 140);
  background: #e0e0e0;
}

.attachmentButtonContainer {
  margin-left: 10%;
  width: 100%;
  background-color: transparent;
}

.attachment_button {
  margin: 3% 5% 3% 3%;
  width: 100%;
}

.attachment_button .MuiButtonBase-root {
  border-radius: 10px;
  background: none;
  border: 1px solid #014b7e;
  color: #014b7e;
}

.attachment_button_doc.MuiButtonBase-root {
  border-radius: 10px;
  background: none;
  border: 1px solid #ff6b6b;
  color: #014b7e;
}

.periodDescBox .MuiInputBase-root {
  border-radius: 10px;
  background: #e0e0e0;
}

.periodDescBox .MuiOutlinedInput-notchedOutline {
  border: none;
}

.periodTag {
  color: #014b7e;
  font-weight: 600;
  font-size: 16px;
  margin: 5% 0 1% 4%;
}

.periodCrossWrapper {
  display: flex;
  width: 100%;
}

.removePeriodIcon {
  margin-left: auto;
}

.multiRowTextfield .MuiInputBase-root {
  border-radius: 10px;
}

.multiRowTextfield .MuiInputLabel-outlined {
  color: #014b7e;
}

.multiRowTextfield .MuiFormLabel-root.Mui-focused {
  font-weight: 600;
}

.periodCardsContainer.MuiGrid-root {
  margin: 20px auto;
  width: 100%;
}

.buttonModifiedDesign.MuiButtonBase-root {
  border-radius: 10px;
  width: 100%;
}

.downloadAllContainer {
  display: flex;
}

.attachmentContainer1 {
  width: 90%;
}

.noOfFilesTag {
  color: #014b7e;
  font-size: 16px;
  font-weight: 600;
  margin: 5%;
}

.deleteEditDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .scrollableContent1 {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 40% 40%;
  }
}
