@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.create__class {
  width: 100%;
  margin: 0 auto;

  .breadcrumb-container-create {
    width: 95%;
    margin: 20px auto 30px auto;
  }

  button {
    color: white;
  }

  .create-class-form-container {
    // background-color: #fff;
    .create-class-form {
      width: 95%;
      margin: 0 auto;
    }
  }

  .create-class-container {
    padding: 20px 0px;
    // margin-top: 20px !important;

    .create__class-textfield {
      width: 100%;
    }
  }

  svg {
    fill: $primary-color;
  }

  .alert__email {
    display: inline-block;
    color: red;
    padding: 5px;
    text-transform: capitalize;
  }

  #time-picker {
    pointer-events: none !important;
  }

  .MuiTextField-root {
    width: 100%;
  }

  .co_host-title {
    margin: 0 !important;
  }

  .btn-addmore {
    margin-left: 0px;
  }

  .horizontal-line {
    margin: 20px auto 20px auto;
  }

  .horizontal-line-last {
    margin: 40px auto 20px auto;
  }
}

.MuiPickersTimePickerToolbar-toolbarAmpmLeftPadding h2,
.MuiPickersTimePickerToolbar-toolbarAmpmLeftPadding h6 {
  color: white !important;
}

.MuiPickersTimePickerToolbar-toolbarAmpmLeftPadding
  .MuiPickersToolbarText-toolbarBtnSelected {
  color: rgb(204, 204, 204) !important;
}

.my__swipable {
  .MuiPaper-elevation16 {
    z-index: 9999 !important;
    width: 50%;
  }
}

.styled__table {
  @include styledTable;
}

@media only screen and(max-width:600px) {
  .create__class {
    .create-class-form-container {
      .create-class-form {
        width: 92%;
      }
    }

    .create-class-container {
      padding: 10px 0px;
    }
  }

  .my__swipable {
    .MuiPaper-elevation16 {
      width: 85%;
    }
  }
}
