@import '../../../assets/styles/variables';
/* .homework_table_wrapper .message_log_table tr th:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  }
  .homework_table_wrapper .message_log_table tr td:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  } */
  // .message_log_wrapper-coordinator.teacher-homework-coordinator .homework_block_wrapper{
  //   width: 95% !important;
  // }
  // .homework_block_wrapper{
  //   margin: 30px !important;
  // }
  .homework_block_wrapper{
    border: 1px solid #DBDBDB !important;
    border-radius: 15px !important;
  }
  .message_log_white_wrapper .date-container fieldset{
    border-radius: 10px;
  }
  .message_log_white_wrapper .date-container input {
    font-size: 15px;
    color: #014B7E !important;

  }
  .date-container label{
    color: #014B7E !important;
    font-weight: 600;
  }
  .date-container .MuiPickersDateRangePickerInput-root   .MuiFormHelperText-marginDense{
    display: none;
  }
.message_log_wrapper-coordinator {
  &.teacher-homework-coordinator {
    .date-container {
      width: 95%;
      margin: 20px auto;
    }
    .homework_table_wrapper {
      border: 1px solid #ff6b6b;
      box-shadow: none;
    }
    .homework_table_wrapper .MuiTableCell-root:not(:last-child) {
      border-right: 1px solid #ff6b6b;
    }
    .homework_table_wrapper .MuiTableRow-root:not(:last-child) .MuiTableCell-root {
      border-bottom: 1px solid #ff6b6b !important;
    }
    .homework_table_wrapper .MuiTableHead-root .MuiTableCell-root {
      border-bottom: 1px solid #ff6b6b !important;
    }
    .selected {
      background-color: antiquewhite;
    }
    .homework_table {
      margin-top: 0% !important;
      border-radius: 10px !important;
      overflow-y: auto;
      max-height: 10000px !important;
    }
    .homework_table_wrapper {
      border-radius: 10px !important;
      box-shadow: none !important;
    }
    .homework_header {
      text-transform: capitalize;
    }
    .homework_block {
      color: #014b7e;
      font-weight: 600;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .homework_block_wrapper {
      display: flex;
      width: 100% !important;
      padding-bottom: 1%;
      margin: 20px 0;
      border: 1px solid #dbdbdb;
      align-items: center;
      padding: 1rem;
      border-radius: 5px;

      @media screen and (max-width: 768px) {
        margin-bottom: 0 !important;
        justify-content: center;
        border: 0;
      }
    }

    .icon-desc-container {
      display: flex;

      align-items: center;
      margin-left: 1rem;
      color: $secondary-color;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        img {
          margin-bottom: 5px;
        }
      }
    }

    .MuiBadge-root {
      vertical-align: unset;
      .MuiBadge-badge {
        color: #ffffff;
        &.MuiBadge-anchorOriginTopRightRectangle {
          transform: scale(1) translate(25%, -25%);
        }
      }
    }

    .date-picker-container {
      margin: 0 1rem;
      .MuiSvgIcon-root {
        fill: $primary-color;
      }
    }
  }
}
.add-homework-container-coordinator {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header-text {
    color: $secondary-color;
    font-weight: 600;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
      font-size: 0.85rem;
    }
  }

  .add-homework-inner-container {
    padding: 20px 2.5%;
    background: white;
    flex: 1;
    .add-homework-title-container {
      margin: 0 0 20px;
      .nav-cards-container {
        display: flex;

        .nav-card {
          width: 50%;
          border: 1px solid $primary-color;
          height: 100%;
          padding: 0.5rem 1.25rem;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 55px;
          &:first-child {
            margin-right: 1rem;
          }
        }
        @media screen and (min-width: 768px) {
          flex-direction: column;
          .nav-card {
            width: 300px;
            height: max-content;
            margin: 0 0 20px;
          }
        }
      }
    }
  }
  .form-field {
    width: 30%;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .finish-btn-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    .btn {
      width: 100%;
    }
  }
}

.selected-col {
  background-color: #fededf;
}

.no-wrap-col {
  white-space: nowrap;
  div {
    display: flex;
    align-items: center;
    .day-icon {
      width: 40px;
      height: 40px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      font-weight: 600;
      border: 1px solid $secondary-color;
    }
  }
}

.view-homework-container-coordinator {
  .evaluate-answer-btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
  .homework_type_item {
    border: 1px solid #ff6b6b;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0.25rem 0.5rem;
    color: #014b7e;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .homework_block_questionwise_check {
    margin-left: 50%;
    color: #014b7e;
    font-size: 1rem;
  }
  .homework-question-container-coordinator {
    margin: 20px auto;
    width: 95%;
    &:nth-child(1) {
      margin-top: 2rem;
    }
    .comments-remarks-container {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc(50% - 0.5rem);

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 1rem;
        }

        &.comment {
          margin-right: 1rem;
          @media screen and (max-width: 768px) {
            margin-right: 0;
          }
        }
      }
    }
    .evaluate-answer-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }
  }
  .homework-question {
    border-bottom: 1px solid #ff6b6b;
    width: 80%;
    color: #014b7e;
    position: relative;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: left;
    }
  }
  .homework_submit_tag {
    font-size: 1rem;
  }
  .question {
    font-size: 1rem;
    padding: 1.5rem 0 0.5rem;
  }
  .homework_submit_questions_attachment {
    width: 30% !important;
  }
  .create_group_filter_container {
    padding: 20px 2.5%;
    margin: 0 auto;
  }
  .non_selected_homework_type_item {
    cursor: pointer;
  }
  .homework_block {
    text-transform: capitalize;
  }
  // .homework_type_wrapper {
  //   width: 185px;
  // }
  .homework_submit_wrapper {
    border: 1px solid #ff6b6b;
    border-radius: 10px;
  }
  .homework_submit_button_wrapper {
    display: flex;
    width: 30%;
    margin: 2%;
    margin-left: 65%;
  }
  .homework_submit_button_cancel {
    margin-right: 20px !important;
  }
  .overall-evaluation-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    .input-container {
      display: flex;
      width: 60%;
      flex-wrap: wrap;
      .remark {
        width: 70%;
        margin-right: 1rem;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 1rem 0;
        }
      }
      .score {
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0 0 1rem;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .btn-container {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap-reverse;

      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
      }
      .cancel-btn {
        margin-right: 1rem;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0;
        }
      }
      .done-btn {
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}

.add-homework-container-coordinator,
.view-homework-container-coordinator {
  .attachments-container {
    &.with-margin {
      width: 95%;
      margin: 20px auto;
    }
    .header {
      margin: 1rem 0;
    }
    .attachments-list-outer-container {
      width: 100%;
      display: flex;
      align-items: center;
      .prev-btn,
      .next-btn {
        width: 45px;
      }
      .attachments-list {
        &::-webkit-scrollbar {
          display: none;
        }
        scroll-behavior: smooth;
        flex-grow: 1;
        overflow-x: auto;
        display: flex;
        margin: 1rem 0;
        width: calc(100% - 90px);
        .attachment {
          flex-shrink: 0;
          width: 150px;
        }
      }
    }
  }
  .file-card-container-coordinator {
    position: relative;
    height: 100%;
    &:hover {
      .overlay-container {
        opacity: 1;
      }
    }
    .overlay-container {
      padding: 0.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        .action-buttons {
          margin: auto 0;
        }
      }
    }
  }
}

/**common***/

.nav-cards-container {
  display: flex;

  .nav-card {
    width: 50%;
    border: 1px solid $primary-color;
    height: 100%;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55px;
    &:first-child {
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    .nav-card {
      width: 100%;
      height: max-content;
      margin: 0 0 20px;
    }
  }
}

.header-text {
  color: $secondary-color;
  font-weight: 600;
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 0.85rem;
  }
}

.date-container {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }  
}

.bulk_container {
  display: flex;
}

.download_button {
  margin-left: 25px;
  align-self: flex-start;
}

.vertical_divider {
  height: 40px;
  width: 1px;
  margin: 15px 25px;
  background-color: #0000001F;
}

//homework list mobile view

.homework-table-mobile-view {
  color: $secondary-color;
  .day-icon {
    width: 40px;
    height: 40px;
    border: 1px solid $secondary-color;
    border-radius: 25px;
    margin-right: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

 .main_filter_cord_container{    
      display: flex;
      flex-direction: column-reverse; 
  }

.message_log_wrapper-coordinator .create_group_filter_container .homework_block_wrapper .MuiGrid-grid-xs-12{
  display: flex !important;
}

// .block-wrapper{
//     margin: 0 auto !important;
//     margin-top: 30px !important;
// }