.blog_description {
    margin: 10px 0px !important;
    color: #565656;
    font-family: Poppins;
    font-size: 12px !important;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: left;
}

.blog-title {
    font-family: Poppins;
    text-align: left;
    margin: 0px !important;
    font-weight: bold;
    font-size: 20px !important;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 30px !important;
    text-align: left;
}