@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.homework_submit_wrapper .homework-question {
  border-bottom: 1px solid #ff6b6b;
}
.homework_type_item {
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10% 15%;
  color: #014b7e;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.homework_block_questionwise_check {
  color: #014b7e;
  font-size: 1rem;
}
.homework_submit_questions_wrapper {
  display: flex;
  margin: 20px auto;
  width: 95%;
}

.homework_block_wrapper {
  display: flex;
}

.homework_block_wrapper_submit {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 1%;
  margin: 20px auto;
  border-bottom: 1px solid #cfcfcf;
}

.homework_submit_questions {
  border-bottom: 1px solid #ff6b6b;
  width: 80%;
  color: #014b7e;
  position: relative;
}
.homework_submit_tag {
  font-size: 1rem;
}
.homework_question {
  position: absolute;
  font-size: 1rem;
  bottom: 0;
  left: 0;
}
.homework_submit_questions_attachment {
  width: 30% !important;
  display: flex;
}
.non_selected_homework_type_item {
  cursor: pointer;
}
.homework_block {
  text-transform: capitalize;
}
.homework_type_wrapper {
  width: 185px;
  margin-top: 25px;
}
.homework_submit_wrapper {
  border: 1px solid #ff6b6b;
  border-radius: 10px;
}
.homework_submit_button_wrapper {
  display: flex;
  width: 30%;
  margin: 2%;
  margin-left: 65%;
}
.homework_submit_button_cancel {
  margin-right: 20px !important;
}

.checkWrapper {
  display: flex;
}

.bulkContainer {
  margin: 20px auto;
  width: 95%;
}

.bulk_upload_attachments {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  
}
.questionWiseAttachmentsContainer {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}

.descBox {
  margin-top: 15px;
  background-color: #bcf1ff;
  color: #014b7e;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  font-size: 16px;
  width: 70%;
  padding: 11px 18px;
}

.descBox::before {
  content: 'Instruction : ';
  font-weight: 600;
}

.commentBoxStyle > .MuiOutlinedInput-root {
  // border: 1px solid #ff6b6b;
  border-radius: 10px;
}
.instructionBox > .MuiOutlinedInput-root {
  background-color: #bcf1ff;
  color: #014b7e;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 18px;
}
.file_row_hw {
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 10%;
  opacity: 1;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  font: normal normal normal 16px/18px Raleway;
}
.file_name_container_hw {
  color: #014b7e;
  font-weight: 600;
  align-self: center;
  margin-left: 10%;
}
.file_close_hw {
  align-self: end;
}
.overallContainer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  margin-bottom: -60px;
}
.scoreBox {
  margin-right: 1.25rem;
  bottom: 0 !important;
}
.scoreBox,
.remarkBox {
  padding: 12px;
  width: 20%;
  border-radius: 10px;
  opacity: 1;
  font-weight: 600;
  font-size: 16px;
  color: #014b7e;
  border: 1px solid #ff6b6b;
}

.homework-question-container {
  &.student-view {
    margin: 20px auto;
    width: 95%;
    &:nth-child(1) {
      margin-top: 2rem;
    }

    .homework-question {
      // border-bottom: 1px solid #ff6b6b;
      width: 100%;
      color: #014b7e;
      position: relative;
      padding-bottom: 8px;
      font-size: 18px;
      // font: normal normal normal 18px Raleway;
    }

    .attachments-container {
      .header {
        margin: 1rem 0;
      }
      .attachments-list-outer-container {
        width: 100%;
        display: flex;
        align-items: center;
        .prev-btn,
        .next-btn {
          width: 45px;
        }
        .attachments-list {
          &::-webkit-scrollbar {
            display: none;
          }
          scroll-behavior: smooth;
          flex-grow: 1;
          overflow-x: auto;
          display: flex;
          margin: 1rem 0;
          width: calc(100% - 90px);
          .attachment {
            flex-shrink: 0;
            width: 150px;
          }
        }
      }
    }

    .file-card-container {
      position: relative;
      height: 100%;
      &:hover {
        .overlay-container {
          opacity: 1;
        }
      }
      .overlay-container {
        padding: 0.5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s ease;
        .overlay {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          background-color: rgba($color: #000000, $alpha: 0.5);
          .action-buttons {
            margin: auto 0;
          }
        }
      }
      .video-file {
        padding: 0.5rem;
        width: 100%;
      }
      .audio-file {
        padding: 0.5rem;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    width: 100% !important;
  }
  body {
    position: relative
  }

  .homework_type {
    display: flex !important;
  }
  .checkWrapper {
    margin-left: 54px;
  }
  .homework_block_wrapper_submit {
    display: block;
  }
  .homework_type_item {
    width: 100%;
    border: 1px solid #ff6b6b;
    // height: 100%;
    // padding: 0.5rem 1.25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 55px;
    margin-left: 20px;
  }
  .file_row_hw {
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 42%;
    opacity: 1;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font: normal normal normal 14px/16px Raleway;
    margin-bottom: 20px;
    margin-left: 0%;
    float: left;
  }
  .file_close_hw span img {
    margin-left: 50px;
  }
  .file_name_container_hw {
    font-size: 14px;
  }
  .commentBoxStyle {
    width: 100% !important;
  }
  .descBox {
    width: 100%;
  }
  .homework_submit_button_wrapper {
    display: block;
    margin: 0 auto;
    width: 166px;
  }
  .homework_submit_wrapper {
    height: 100% !important;
    width: 325px;
  }
  .makeStyles-content-22{
    // max-width: 100%;
    // flex-basis: 100%;
    // overflow: hidden;
    // height: 100vh;
  }
  .custom_button_master {
    margin-top: 10px !important;
    height: 42px;
    margin-bottom: 10px !important;
  }
  .homework_submit_button_cancel {
    height: 34px;
  }
  .homework-question {
    margin-left: 15px !important;
    text-align: left !important;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  .homework-question .questionWiseAttachmentsContainer {
    display: block !important;
  }

  // .questionWiseAttachmentsContainer {
  //   float: right !important;
  // }
  .homework-question-container.student-view .homework-question {
    top: 42px;
  }
  .homework-question-container.student-view .homework-question {
    width: 92%;
  }
  .attachments-container {
    margin-top: 60px !important;
  }
  .file_row_hw:after {
    width: 70%;
  }
  .MuiIconButton-label:after {
    margin-left: 244px !important;
  }
  // .questionWiseAttachmentsContainer:after {
  //   float: right !important;
  // }
  // .questionWiseAttachmentsContainer::after {
  // display: block !important;
  // }

  .create_group_filter_container .MuiGrid-grid-lg-10 {
    padding: 20px !important;
  }
  .homework-question {
    border-bottom: 1px solid #ff6b6b;
  }
  .upload-wise {
    border-bottom: none !important;
  }

  .MuiSvgIcon-colorPrimary {
    color: none;
  }

  // .homework_type_wrapper{
  //   // margin: 0 auto !important;

  // }
  #file-icon {
    margin-left: 275px;
  }
  // .makeStyles-attachmentIcon-46{
  //   margin-left: 275px ;
  // }
  // .homework-question-container.student-view .homework-question {
  //   width: 100%;
  //   color: #014b7e;
  //   position: relative;
  //   padding-bottom: 8px;
  //   font-size: 16px;
  // }
  // .file_row:last-child {
  //   border-bottom: 1px solid #ff6b6b;
  // }
  .questionWiseAttachmentsContainer {
    border-bottom: 1px solid #ff6b6b;
    margin-left: 7px;
    margin-right: 0px;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 0px;
  }
  // .homework_type_wrapper {
  //   margin-top: 25px;
  // }

  .home-sub {
    margin-left: 72px !important;
  }

  .homework_submit_wrapper .commentBoxStyle {
    margin-top: 50px;
  }
  // .MuiButton-sizeSmall{
  //   width: 100%;
  // }
  // .commentBoxStyle{
  //   padding-top: 40px!important;
  // }
  // .MuiInputBase-inputMultiline{
  //   font-size: 14px;
  // }
  // .homework_submit_tag{
  //   font-size: 10px;
  //   margin-top: 16px;
  //   width: 40%;
  //   margin-left: 3px;
  // }

  // .homework_block_questionwise_check{
  //   font-size: 12px;
  // }
}
