.backDesign{
  background-color:lightgrey !important;
  width: 100%;
}
.backDesign:hover {
  background-color: darkgrey !important;

}
.attendanceDataUnavailable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-left: 85%;
    margin-top: 21%;
  }

  /* .downloadButton.MuiButton-root{
    background-color: #ff6b6b;
    
  } */