.global_search_user_details_modal .MuiDialog-paper{
	width: 60%;
}
.global_search_userdetails_wrapper {
	width: 100%;
    height: 35vw;
    border-radius: 5px;
    z-index: 3000;
    padding: 3% 2%;
}
.user_details_wrapper {
	width: 90%;
    height: 25vw;
    margin: auto;
    padding-top: 1%;
    overflow-y: scroll;
}
.global_search_whole_page_wrapper {
  width: 100vw;
  height: 80vw;
  z-index: 3000;
  left: 0%;
  background-color: #cbdcef87;
  position: fixed;
  top: 0%;
}
.user_label_tag {
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 5%;
}
.user_tags {
  color: #cfcfcf;
  height: 1vw;
}
.user_textFieldsContainer {
  width: 100%;
  display: inline-flex;
  position: relative;
  margin-top: 1%;
}
.global_userdetails_tag {
  color: #014b7e;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
.close_icon_global_user_details {
  float: right;
  margin-top: -1%;
  color: #ff6b6b;
  cursor: pointer;
}
.edit_icon_global_user_details {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .global_search_userdetails_wrapper {
    width: 100%;
    height: 110vw;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .user_details_wrapper {
    width: 100%;
    height: 80vw;
  }
  .global_search_user_details_modal .MuiDialog-paper{
	width: 80%;
}
}
