.evaluvation_tool_bar {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 40px !important; */
  align-self: flex-end;
  background: whitesmoke;
  position: absolute;
  /* top: 64px; */
  z-index: 1000;
  /* height: 46px; */
  /* height: 65px !important; */
  margin-top: 12vh;
  margin-right: 5vh;
  width:min-content;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.evaluvation_tool_bar .tool-group {
  flex-direction: column;
}

/* @media screen and (max-width: 768px) {
  .evaluvation_tool_bar {
    flex-direction: column;
    width: 65px !important;
    height: max-content;
  }
  .evaluvation_tool_bar .tool-group {
    flex-direction: column;
  }
} */
#editor-evaluvation-container {
  position: relative;
  top: 0px;
  transform-origin: initial;
  display: "flex";
  align-items : 'center';
  justify-content : 'center';
  border: 'black';
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
.evaluvation_parent_container {
  height: calc(100% - 64px);
  /* margin-top: -56px; */
  border: black;
}

.evaluvation_parent_container .loading_container {
  height: 100%;
  display: flex;
}
.fwd-btn {
  width: 100%;
  position: absolute;
  top: 93%;
  background-color: rgb(49, 51, 47);
  color: white;
}
/* style={{width:'100%',position:'absolute',top:'95%',backgroundColor:'black',color:'white',border:'black'}} */
.previous-btn {
  width: 100%;
  position: absolute;
  top: 10%;
  background-color: rgb(70, 67, 67);
  color: white;
}
.arrow-middle {
  margin-left: 50%;
}
.MuiToggleButton-root{
  min-height: 5vh;
  height: 6vh;
  /* width:40px; */
}