.passwordField>.MuiInputBase-root {
    background: #E8F0FE;
    visibility: visible;
}

.forgot{
    font-size: 1.1428571428571428rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #014b7e;
    text-align: center;
    cursor: pointer;
}
		