.edit_group_cover{
	width: 100%;
    height: 80vw;
    z-index: 2000;
    left: 0%;
    background-color: #cbdcef87;
    position: fixed;
    top: 0%;
}
.edit_group__page {
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 42vw;
  background: #fdfdfde0;
  border: 12px solid #d2cdcd;
  border-radius: 5px;
  z-index: 1500;
  padding: 1% 2%;
  overflow-y: scroll;
}
.editGroup_Fields {
  display: flex;
  justify-content: space-between;
  margin: 2% 0%;
}
.edit_group_level {
  display: block;
  color: #014b7e;
  text-align: center;
}
.close_icon_edit_group {
  float: right;
  margin-top: -1%;
  color: #ff6b6b;
  cursor: pointer;
}
.group_name .MuiFormLabel-root{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}
.edit_group_button {
  font-size: 0.9rem;
  padding: 2% 4%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: #ff6b6b;
  margin: 2% 0%;
}
.edit_group_button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 700px) {
  .edit_group__page {
    width: 95%;
	height: 134vw;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	border: 5px solid #d2cdcd;
  }
  .edit_group_cover {
	height: 200vw;
  }
  .editGroup_Fields {
    flex-direction: column;
  }
  .role_name_edit_group {
    margin-top: 5%;
  }
  .group_name {
	margin-top: 6% !important;
	width: 200px;
  }
  .edit_group_level{
	  text-align: left;
      margin: 3%;
  }
  .edit_group_chip{
	  margin-right: 2%;
	  margin-bottom: 1%;
  }
}
