.teacherBatchViewMainDiv {
  padding: 10px !important;
  width: 100% !important;
  background-color: #f9f9f9 !important;
  .signatureNavDiv {
    .SignatureNavigationLinks {
      color: #014b7e;
      font-weight: bold;
      font-size: 20px;
      margin: 1px 10px !important;
      outline: none !important;
      background-color: #f9f9f9 !important;
      border: none !important;
      cursor: pointer;
    }
    .SignatureUploadNavArrow {
      color: #ff6b6b;
      font-weight: bold;
      font-size: 30px;
    }
  }
  .teacherBatchViewFilter {
    padding: 10px 30px !important;
    .BatchViewfilterButtons {
      font-size: 12px !important;
      font-family: Raleway;
      color: #fff;
      font-weight: bold;
      border-radius: 10px;
      background-color: #ffaf7a !important;
    }
  }
  .teacherBatchViewLCardList {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px !important;
  }
}
.teacherbatchsCardMain {
  padding: 1px !important;
  .teacherBatchCardActive {
    border-radius: 8px !important;
    padding: 10px !important;
    border: 1px solid #f9d474;
    background-color: #f9d474;
    cursor: pointer;
    height: 320px;
  }
  .teacherBatchCardInActive {
    border-radius: 8px !important;
    padding: 10px !important;
    border: 1px solid #f9d474;
    background-color: #fffadf;
    height: 400px;
    cursor: pointer;
  }
  .teacherBatchCardLable {
    color: #001495;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
  }
  .teacherBatchCardLable1 {
    color: #014b7e;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
  }
  .TeacherBatchCardViewMoreButton {
    font-size: 12px !important;
    font-family: Raleway;
    font-weight: bold;
    border-radius: 8px !important;
    color: #ffffff;
    background-color: #344ade;
  }
  .TeacherBatchCardViewMoreButtonCustom {
    font-size: 12px !important;
    font-family: Raleway;
    font-weight: bold;
    border-radius: 8px !important;
    color: #ffffff;
    background-color: red;
  }
  
}
.teacherbatchsSubstituteCardMain {
  padding: 1px !important;
  .teacherBatchSubstituteCardActive {
    border-radius: 8px !important;
    padding: 10px !important;
    border: 1px solid red;
    background-color: #c59722;
    cursor: pointer;
    height: 320px;
  }
  .teacherBatchSubstituteCardInActive {
    border-radius: 8px !important;
    padding: 10px !important;
    border: 1px solid red;
    background-color: #c2ab2c;
    height: 320px;
    cursor: pointer;
  }
  .teacherBatchSubstituteCardLable {
    color: #001495;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
  }
  .teacherBatchSubstituteCardLable1 {
    color: #014b7e;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
  }
  .TeacherBatchSubstituteCardViewMoreButton {
    font-size: 12px !important;
    font-family: Raleway;
    font-weight: bold;
    border-radius: 8px !important;
    color: #ffffff;
    background-color: #344ade;
  }
}
.teacherBatchFullViewMainDiv {
  padding: 10px !important;
  .teacherBatchFullViewMainCard {
    background-color: white;
    border-radius: 8px !important;
    border: 1px solid #f9d474;
    padding: 10px !important;
  }
  .teacherBatchFullViewHeader {
    padding: 0 !important;
    margin-bottom: 10px !important;
    border-radius: 8px 8px 0px 0px !important;
    background-color: #f9d474;
    .teacherBatchFullCardLable {
      color: #014b7e;
      margin: 4px 0px !important;
      padding: 1px !important;
      font-size: 16px;
      font-weight: bold;
      font-family: Poppins;
    }
    .teacherBatchFullViewClose {
      font-size: 10px !important;
      .teacherBatchFullViewCloseIcon {
        color: #014b7e;
      }
    }
  }
  .TeacherFullViewdescreption {
    font-size: 20px !important;
    color: #344ade;
    font-family: Poppins;
    font-weight: bold !important;
  }
  .TeacherFullViewdescreption1 {
    font-size: 18px !important;
    font-family: Poppins;
    color: #344ade;
  }
  .teacherFullViewSmallButtons {
    font-size: 15px !important;
    font-family: Poppins;
    color: #ffffff;
    background-color: #344ade;
    border-radius: 8px;
    // border:'1px solid red' !important;
  }
  .teacherFullViewSmallButtons1 {
    font-size: 15px !important;
    font-family: Raleway;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ffaf7a !important;
  }
  .teacherFullViewFullButtons {
    font-size: 15px !important;
    font-family: Poppins;
    margin-top: 10px !important;
    font-family: Raleway;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ffaf7a !important;
    &:hover {
      background-color: #5600dd !important;
    }
  }
  .fullViewDivider {
    margin: 5px 0px 10px 0px !important;
    color: lightgray !important;
  }
}
.deletePopover.MuiPopover-paper {
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
  min-height: 16px;
}
