@import './variables';

@mixin styledTable {
  .styled__table-head {
    th {
      font-weight: bold;
      color: $secondary-color;
    }

    th:not(:last-child) {
      position: relative;
    }

    th:not(:last-child)::after {
      content: '';
      height: 50%;
      width: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primary-color;
    }
  }

  .styled__table-body {
    td {
      color: $secondary-color;
    }
  }
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
