@import './variables';
html {
  font-size: 16px;
}

body {
  height: 100vh;
  overflow: hidden;
}

#root,
.App {
  height: 100%;
}

.disabled-btn {
  background-color: #e2e2e2 !important;
  color: #9f9f9f !important;
}

.disabled-icon {
  color: #9f9f9f;
}

.MuiButton-contained {
  &.MuiButton-containedPrimary {
    .MuiButton-label {
      color: #ffffff;
    }
  }
}

.text-center {
  text-align: center;
}

.outlined-btn {
  background-color: #ffffff !important;
  border: 1px solid $primary-color !important;
  .MuiButton-label {
    color: $primary-color;
  }
  &:hover {
    background-color: #fafafa !important;
  }
}
