$primary-color: #ff6b6b;
$secondary-color: #014b7e;

.home-question-container {
    .question-card {
      border: 2px solid $primary-color;
      .file-upload-input {
        display: none;
      }
      .question-ctrls-container {
        .question-ctrl-inner-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10%;
          &.max-attachments {
            .question-ctrl-label {
              font-size: 1rem;
              color: $secondary-color;
              margin-right: 1.5rem;
            }
          }
          .question-ctrl {
            width: 60%;
            display: flex;
            justify-content: space-around;
            .MuiFormControlLabel-label {
              font-size: 1rem;
            }
            &.MuiFormControlLabel-labelPlacementStart {
              font-size: 1rem;
              margin-left: -10%;
              .MuiSwitch-root{
                margin-right: 15%;
              }
            }
          }
        }
      }
      .MuiBadge-root {
        .MuiBadge-badge {
          color: #ffffff;
        }
      }
    }
    .question-btn-container {
      .question-btn-inner-container {
        margin: 20px 0;
        .btn {
          width: 100%;
        }
      }
    }
  
    .attachments-grid {
      width: 100%;
      .attachments-list-outer-container {
        width: 100%;
        display: flex;
        align-items: center;
        .prev-btn,
        .next-btn {
          width: 45px;
        }
        .attachments-list {
          &::-webkit-scrollbar {
            display: none;
          }
          scroll-behavior: smooth;
          overflow: hidden;
          display: flex;
          margin: 1rem 0;
          width: calc(100% - 90px);
          .attachment {
            flex-shrink: 0;
            width: 150px;
          }
        }
      }
    }
  }
  