.message_log_branch {
  width: 100%;
}
.table_body {
  max-height: 500px;
  overflow-y: scroll;
}
.selectedRow {
  background-color: antiquewhite;
}
.selectedRow:hover {
  cursor: pointer;
}
.notSelected:hover {
  cursor: pointer;
}
.message_log_table .MuiTableCell-head {
  background-color: white;
}
.message_log_table_wrapper {
  border: 1px solid #ff6b6b;
}
.deactive_clearAll {
  font-size: 0.9rem;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: grey;
  background-color: rgba(0, 0, 0, 0.12);
}
.message_log_date_piker svg {
  fill: #ff6b6b;
}
.message_log_branch .MuiIconButton-label {
  color: #ff6b6b !important;
}
.message_log_branch .MuiChip-deleteIcon {
  color: #ff6b6b !important;
}
.message_log_filter_button {
  font-size: 0.9rem;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: #ff6b6b;
}
.message_log_date_piker{
	margin: 0px !important;
}
.MuiButton-textPrimary {
  color: white !important;
}
.MuiButton-textPrimary:hover {
  background-color: #ff6b6b !important;
}
.message_log_table_wrapper .message_log_table tr th:not(:last-child):after {
  content: '';
  height: 50%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff6b6b;
}
.message_log_table_wrapper > * {
  margin-top: 0px !important;
}
.message_log_send_by {
  min-width: 100px;
}
.message_log_table_wrapper {
  border-radius: 0px !important;
}
.message_log_breadcrumb_wrapper {
  margin: 20px auto;
  width: 95%;
}
.message_log_white_wrapper {
  width: 100%;
  padding: 1px 0px;
  background-color: white;
}
.close_icon_view_details_mobile{
	display: none;
}
.message_log_expand_manage{
	display: none;
}
.MuiPickersDatePickerRoot-toolbar .MuiPickersToolbarText-toolbarBtnSelected{
color: white !important;
}
.MuiPickersDatePickerRoot-toolbar  .MuiPickersToolbarText-toolbarTxt{
	color: white !important;
}
.MuiPickersDay-daySelected {
	color: white !important;
}
.table-pagination-message-log{
	text-align: center;
    display: flex;
   	justify-content: center;
    color: #014b7e !important;
}
.table-pagination-users-log-message{
	text-align: center;
    display: flex;
   	justify-content: center;
    color: #014b7e !important;
}
.table-pagination-message-log .MuiTablePagination-caption{
	font-weight: 600;
}
.table-pagination-users-log-message .MuiTablePagination-caption{
	font-weight: 600;
}
@media screen and (max-width: 700px) {
  .message_log_wrapper {
    text-align: center;
  }
  .deactive_clearAll {
    width: 100%;
  }
  .message_log_expand_manage {
    float: right;
    margin: 0px 20px 0px 0px;
    margin-right: 20px;
    display: block !important;
	cursor: pointer;
	color: #ff6b6b;
	font-size: 18px;
	font-weight: bold;
  }
  .message_log_filter_button {
    width: 100%;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: table-cell !important;
  }
  .view_details_mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10% 5%;
    background-color: white;
    border: 5px solid #d2cdcd;
    border-radius: 5px;
    z-index: 1500;
  }
  .close_icon_view_details_mobile{
	float: right;
	margin-top: -10%;
	margin-right: -5%;
	color: #ff6b6b;
	cursor: pointer;
	display: block;
  }
}
